{{ 'rdc_taille.css' | asset_url | stylesheet_tag }}

<div class="sizeguide">
  <img src="{{ 'rdc_taille_crafter.webp' | asset_url }}"
       loading="lazy"
       alt="Guide des tailles t-shirt légers"
       class="size-guide-img">
  <table class="size-guide">
    <thead>
      <tr>
        <th>Taille</th>
        <th>A - Poitrine</th>
        <th>B - Longueur</th>
        <th>C - Manches</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>XXS</td>
        <td>44</td>
        <td>61</td>
        <td>17.5</td>
      </tr>
      <tr>
        <td>XS</td>
        <td>46</td>
        <td>64</td>
        <td>18.5</td>
      </tr>
      <tr>
        <td>S</td>
        <td>48</td>
        <td>68</td>
        <td>20</td>
      </tr>
      <tr>
        <td>M</td>
        <td>52</td>
        <td>72</td>
        <td>21.5</td>
      </tr>
      <tr>
        <td>L</td>
        <td>55</td>
        <td>74</td>
        <td>22</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>58</td>
        <td>76</td>
        <td>22.5</td>
      </tr>
      <tr>
        <td>2XL</td>
        <td>62</td>
        <td>78</td>
        <td>23</td>
      </tr>
      <tr>
        <td>3XL</td>
        <td>66</td>
        <td>80</td>
        <td>23.5</td>
      </tr>
      <tr>
        <td>4XL</td>
        <td>71</td>
        <td>82</td>
        <td>23.5</td>
      </tr>
      <tr>
        <td>5XL</td>
        <td>76</td>
        <td>83</td>
        <td>23.5</td>
      </tr>
    </tbody>
  </table>
  <p style="padding: 15px; font-size: 1.1rem; text-align: center;">Toutes les tailles sont mesurées en CM</p>
</div>
