{{ 'rdc_taille.css' | asset_url | stylesheet_tag }}

<div class="sizeguide">
  <img src="{{ 'rdc_taille_ava.webp' | asset_url }}"
       loading="lazy"
       alt="Guide des tailles Débardeurs Femmes"
       class="size-guide-img">
  <table class="size-guide">
    <thead>
      <tr>
        <th>Taille</th>
        <th>A - Poitrine</th>
        <th>B - Longueur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>XS</td>
        <td>33.5</td>
        <td>58</td>
      </tr>
      <tr>
        <td>S</td>
        <td>36.5</td>
        <td>61</td>
      </tr>
      <tr>
        <td>M</td>
        <td>39.5</td>
        <td>63</td>
      </tr>
      <tr>
        <td>L</td>
        <td>42.5</td>
        <td>65</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>45.5</td>
        <td>67</td>
      </tr>
      <tr>
        <td>XXL</td>
        <td>49.5</td>
        <td>69</td>
      </tr>
    </tbody>
  </table>
  <p style="padding: 15px; font-size: 1.1rem; text-align: center;">Toutes les tailles sont mesurées en CM</p>
</div>
