{{ 'rdc_taille.css' | asset_url | stylesheet_tag }}

<div class="sizeguide">
  <img src="{{ 'rdc_taille_stancer.webp' | asset_url }}"
       loading="lazy"
       alt="Guide des tailles Débardeurs hommes"
       class="size-guide-img">
  <table class="size-guide">
    <thead>
      <tr>
        <th>Taille</th>
        <th>A - Poitrine</th>
        <th>B - Longueur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>S</td>
        <td>51</td>
        <td>71</td>
      </tr>
      <tr>
        <td>M</td>
        <td>54</td>
        <td>73</td>
      </tr>
      <tr>
        <td>L</td>
        <td>57</td>
        <td>75</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>60</td>
        <td>77</td>
      </tr>
      <tr>
        <td>2XL</td>
        <td>64</td>
        <td>79</td>
      </tr>
      <tr>
        <td>3XL</td>
        <td>68</td>
        <td>81</td>
      </tr>
    </tbody>
  </table>
  <p style="padding: 15px; font-size: 1.1rem; text-align: center;">Toutes les tailles sont mesurées en CM</p>
</div>
