{{ 'rdc_taille.css' | asset_url | stylesheet_tag }}

<div class="sizeguide">
  <img src="{{ 'rdc_taille_drummer.webp' | asset_url }}"
       loading="lazy"
       alt="Guide des tailles Sweat-shirt"
       class="size-guide-img">
  <table class="size-guide">
    <thead>
      <tr>
        <th>Taille</th>
        <th>A - Poitrine</th>
        <th>B - Longueur</th>
        <th>C - Manches</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>XXS</td>
        <td>46</td>
        <td>59</td>
        <td>56.5</td>
      </tr>
      <tr>
        <td>XS</td>
        <td>48</td>
        <td>62</td>
        <td>58.5</td>
      </tr>
      <tr>
        <td>S</td>
        <td>50</td>
        <td>66</td>
        <td>63</td>
      </tr>
      <tr>
        <td>M</td>
        <td>54</td>
        <td>70</td>
        <td>65.5</td>
      </tr>
      <tr>
        <td>L</td>
        <td>57</td>
        <td>72</td>
        <td>67.5</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>60</td>
        <td>74</td>
        <td>68</td>
      </tr>
      <tr>
        <td>2XL</td>
        <td>64</td>
        <td>76</td>
        <td>68.5</td>
      </tr>
      <tr>
        <td>3XL</td>
        <td>68</td>
        <td>78</td>
        <td>68.5</td>
      </tr>
      <tr>
        <td>4XL</td>
        <td>73</td>
        <td>80</td>
        <td>68.5</td>
      </tr>
      <tr>
        <td>5XL</td>
        <td>78</td>
        <td>81</td>
        <td>68.5</td>
      </tr>
    </tbody>
  </table>
  <p style="padding: 15px; font-size: 1.1rem; text-align: center;">Toutes les tailles sont mesurées en CM</p>
</div>
