.template-search__header {
  margin-bottom: 3rem;
}

.template-search__search {
  margin: 0 auto 3.5rem;
  max-width: 60rem;
}

.template-search__search .search {
  margin-top: 3rem;
}

.template-search--empty {
  padding-bottom: 18rem;
}

@media screen and (min-width: 750px) {
  .template-search__header {
    margin-bottom: 5rem;
  }
}

.search__button .icon {
  height: 1.8rem;
}
.search__input.field__input {
  padding-right: 9rem;
}
.search__input.field__input::placeholder{
  color: rgba(var(--color-foreground) / 0.5);
}
.search__input.field__input::-moz-placeholder{
  color: rgba(var(--color-foreground) / 0.5);
}
.search__input.field__input:-ms-input-placeholder{
  color: rgba(var(--color-foreground) / 0.5);
}

.search__button {
  right: 0.5rem;
  top: var(--inputs-border-width);
}

.reset__button {
  right: 5rem;
  top: 1px;
  font-size: 80%;
  color:rgba(var(--color-foreground)/ 0.7);
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button .icon {
  height: 2rem;
  width: 2rem;
}

.reset__button .icon.icon-close {
  height: 2rem;
  width: 2rem;
  stroke-width:2px;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}
