.faq__category {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}
.faq__category:first-child {
  margin-top: 0;
  margin-bottom: 2rem;
}
.faq-navigation{
  position: sticky;
  top: calc(var(--header-height) + 1rem);
}
.smooth-scroll-nav-list {
  border-left: 1px solid rgba(var(--color-foreground)/0.1);
}
.smooth-scroll-nav-list li{
  position: relative;
}
.smooth-scroll-nav-list li:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: -1px;
  top:0;
  background-color: rgba(var(--color-foreground)/1);
  opacity: 0;
  transition: opacity 0.1s;
}
.smooth-scroll-nav-list li.is-visible:before{
  opacity: 1;
}