.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header:hover {
  background: #edebe5;
}

.header .mega-menu__list--condensed,
.header .menu-drawer__inner-submenu .menu-drawer__menu {
  display: none;
}

.header .responsive-image 
{
  height: 195px !important;
  width: 250px !important;
  margin: auto;
  --aspect-ratio: 56% !important;
  transition: transform 0.4s;
}

.header .group
{
  opacity: 0.9;
  transition: opacity 0.4s;
}

.header .group:hover .responsive-image
{
  transform: scale(1.05) !important;
}

.header .group:hover
{
  opacity: 1;
}

.header .menu-drawer__menu-item 
{
  font-size: 1.7rem;
}

.header .mega-menu__content
{
  padding-top: 0;
}

@media screen and (max-width: 760px) 
{
  .header .responsive-image {
      height: 130px !important;
  width: 100% !important;
  --aspect-ratio: 100% !important;
  }
  .header .mega-menu__banner--item .btn {
    display: none;
  }
    .header .mega-menu__banner {
    display: flex;
    flex-wrap: wrap;
  }
  .header .mega-menu__banner > div {
    max-width: 46vw;
    width: 46%;
    border: 1px solid transparent;
  }
}


/* HACK */

.header--transparent 
{
  border-bottom: 0;
  box-shadow: none;
}

.is-sticky
{
  border-bottom: 1px solid #dfdbcf !important;
  box-shadow: 0 1px 28px rgba(0,0,0,0.1);
}

.card-wrapper
{
  background: #f1efea !important;
}

.card-wrapper .responsive-image
{
  background: #f1efea !important;
  height: 190px;
}

.swatch { 
border:  0rem solid rgba(var(--color-foreground) / .15) !important;
box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}

 /*BADGE */

.badge {
border-radius: 50px;
}
.price__badge-sale {
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 14px 7px;
  color: #3d3a31;
  background-color: #f1efea;
  border: 1px solid #3d3a31;
  box-shadow: 0 0 0 2px #f1efea;

@media screen and (max-width: 760px)
{
  .price__badge-sale
  {
    padding: 10px 5px !important;
    font-size: 10px;
  }
}