.sizeguide {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.sizeguide .size-guide-img {
  margin: auto;
  height: 200px;
  display: block;
}

.sizeguide h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
  font-size: 1.6em;
}

.sizeguide .size-guide {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  overflow: hidden;
  border-radius: 20px;
}

.sizeguide .size-guide th,
.sizeguide .size-guide td {
  padding: 15px;
  text-align: center;
  border: 1px solid #e0e0e0;
  font-size: 1.2rem;
}

.sizeguide .size-guide th {
  background-color: #2c3e50;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.sizeguide .size-guide tr:nth-child(even) {
  background-color: #f8f9fa;
}

.sizeguide .size-guide td:first-child {
  font-weight: 600;
  background-color: #edf2f7;
}

.sizeguide p {
  padding: 15px;
  font-size: 1.1rem;
  text-align: center;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.toggle-buttons button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-buttons button.active,
.toggle-buttons button:hover {
  background-color: #1a252f;
}

.table-container > div {
  display: none;
}

.table-container > div.active {
  display: block;
}