.no-js-splide.splide{
    visibility: visible;
}
  .no-js-splide .slideshow-item__background img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  .no-js-splide .slideshow-item__background{
    height: 100%; 
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
  }
  .slideshow-item__desktop-height{
      height: var(--desktop-height);
      width: 100%;
  }
  .slideshow-item__desktop-height-adapt{
    height: 0;
    padding-top: var(--aspect-ratio-image,0px);
  }
  @media screen and (max-width: 768px) {
      .slideshow-item__mobile-height{
          height: var(--mobile-height,auto);
      }
      .slideshow-item__mobile-height-adapt{
        height: 0;
        padding-top: var(--aspect-ratio-mobile-image,0px);
      }
  }

.slideshow-item__background,.slideshow-item__video{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.slideshow-item__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
.slideshow-item__video video, .slideshow-item__video .video-placeholder{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
}
.slideshow-item[aria-hidden="true"] a{
  pointer-events: none;
}

.slideshow[data-transition="fade"] .slideshow-item {
    transition: opacity 0.6s ease !important;
    will-change:animation,z-index;
}
.slideshow[data-transition="zoom-cut"] .slideshow-item{
    opacity: 1 !important;
    transition: opacity 0.6s ease !important;
    z-index: 0;
    will-change:animation,z-index;
    pointer-events: none;
}
.slideshow[data-transition="zoom-cut"] .slideshow-item.is-active{
    z-index: 10;
    pointer-events: auto;
}
.slideshow[data-transition="zoom-cut"] .slideshow-item.is-active .slideshow-item__background, .slideshow[data-transition="zoom-cut"] .slideshow-item.is-active .slideshow-item__video{
    animation: zoom-fade-cut 0.6s cubic-bezier(0.21, 0.6, 0.35, 1) forwards;
}
.slideshow[data-transition="zoom"] .slideshow-item.is-active .slideshow-item__background,.slideshow[data-transition="zoom"] .slideshow-item.is-active .slideshow-item__video{
    animation: zoom-fade 0.6s cubic-bezier(0.21, 0.6, 0.35, 1) forwards;
}
.slideshow[data-transition="zoom"] .slideshow-item.first-slide.is-active .slideshow-item__background,
.slideshow[data-transition="zoom"] .slideshow-item.first-slide.is-active .slideshow-item__video, .slideshow[data-transition="zoom-cut"] .slideshow-item.first-slide.is-active .slideshow-item__background, .slideshow[data-transition="zoom-cut"] .slideshow-item.first-slide.is-active .slideshow-item__video{
    animation: none;
}
.no-js .slideshow .slideshow-item:not(.first-slide){
    display: none;
    visibility: hidden;
}

@keyframes zoom-fade {
    0% {
        opacity: 0;
        transform: scale(1.2)
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
} 

@keyframes zoom-fade-cut {
    0% {
        opacity: 1;
        transform: scale(1.2);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scale(1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.slideshow-item__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--slideshow-overlay);
    z-index: 3;
    display: block !important;
}
.slideshow-item__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.slideshow-item__link{
    z-index: 4;
}
.slideshow-item__content{
    padding:7.5rem 2rem;
}
@media screen and (min-width: 1024px){
    .slideshow-item__content{
        padding: calc(var(--header-height,78px) + 3rem) 5rem;
    }
}

.slideshow-item__content-inner{
    max-width: var(--content-max-width,100%);
    height: max-content;
    width: 100%;
}
.js .slideshow .slideshow-item__subheading,.js .slideshow .slideshow-item__heading, .js .slideshow .slideshow-item__description, .js .slideshow .slideshow-item__buttons{
    opacity: 0;
    transform: translate(0%, 115%) rotate(2deg);
}
.js .slideshow.is-initialized .slideshow-item.is-active .slideshow-item__subheading, .js .slideshow.is-initialized .slideshow-item.is-active .slideshow-item__heading,.js .slideshow.is-initialized .slideshow-item.is-active .slideshow-item__description, .js .slideshow.is-initialized .slideshow-item.is-active .slideshow-item__buttons{
    opacity: 1;
    transform: translate(0%, 0%) rotate(0deg);
    transition: opacity 0.35s cubic-bezier(0.21, 0.6, 0.35, 1), transform 0.5s cubic-bezier(0.21, 0.6, 0.35, 1);
    transition-delay: var(--transition-delay,0s);
}

.splide-slideshow .splide__arrows{
    position: absolute;
    bottom: 3rem;
    z-index: 12;
    right: 5rem;
    display: flex;
   align-items: center;
   column-gap: 1rem;
}

.splide-slideshow .splide__arrow{
    position: static;
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0.9;
    transition: opacity 0.2s ease;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    transform: translateY(0);
}

.splide__filled-arrows .splide__arrow{
    background: rgb(var(--controls-color,255 255 255));
    color:rgb(var(--controls-color-arrows,0 0 0));
}
.splide__filled-arrows .splide__arrow:focus-visible{
    outline: 2px solid rgba(var(--controls-color) / 0.5);
}
.splide__outlined-arrows .splide__arrow{
    background: transparent;
    border:2px solid rgb(var(--controls-color,255 255 255));
    color:rgb(var(--controls-color-arrows,255 255 255));
}
.splide-slideshow .splide__arrow:hover{
    opacity: 1;
}
.splide-slideshow .splide__arrow svg{
    width: 2rem;
    height: 2rem;
    stroke-width: 2px;
}
.slide-counter{
    color:rgb(var(--controls-color,255 255 255));
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
}
.splide-slideshow .splide__pagination{
    bottom: 2rem;
    gap: 0.8rem;
}
.splide-slideshow .splide__pagination__page{
    width: 6px;
    height: 6px;
    background-color: rgba(var(--controls-color,255 255 255)/0.3);
}
.splide-slideshow .splide__pagination__page.is-active{
   opacity: 1;
   background-color: rgb(var(--controls-color,255 255 255));
}

@media screen and (max-width: 768px) {
    .splide-slideshow .splide__arrows{
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .splide-slideshow .splide__arrow{
        width: 3.8rem;
        height: 3.8rem;
    }
    .splide-slideshow .splide__arrow svg{
        width: 1.5rem;
        height: 1.5rem;
    }
}
.splide-slideshow .splide__pagination--custom .splide__pagination__page{
    width: auto;
    height: auto;
    background-color: transparent;
    color:rgb(var(--controls-color,255 255 255));
    transform: none !important;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
.splide-slideshow .splide__pagination--custom .splide__pagination__page:not(.is-active){
    opacity: 0.2;
}
.splide__pagination__page:focus-visible{
    outline: none;
}

@media (min-width: 640px){
    .desktop-height-image .splide__list {
        align-items: flex-start;
    }
    /*.desktop-height-image .splide__slide:not(.is-active) {
        height: 0;  
        padding:0 !important;
    }*/
}
@media (max-width: 639px){
    .mobile-height-image .splide__list {
        align-items: flex-start;
    }
    /*.mobile-height-image .splide__slide:not(.is-active) {
        height: 0;  
        padding:0 !important;
    }*/
}
