.featured-collection-slider.is-initialized:not(.is-active) .splide__list{
  display: grid;
  grid-template-columns: repeat(var(--column-product-mobile), minmax(0, 1fr));
  gap: var(--column-gap-mobile);
}
.featured-collection-slider .splide__arrow{
  transform: scale(0);
}
.featured-collection-slider:hover .splide__arrow{
  transform: scale(1);
}
.no-js .featured-collection-slider:not(.is-initialized) .splide__list{ 
  --column-width: calc((100% - ((var(--column-product-mobile) - 1) * var(--column-gap-mobile))) / var(--column-product-mobile));
  display: grid;
  grid-auto-flow: column;
  gap: var(--column-gap-mobile);
  overflow-x: auto;
  overflow-y: hidden;
  grid-template-columns: repeat(auto-fill,minmax(calc(100% / var(--column-width)),1fr));
  grid-auto-columns: minmax(calc(100% / var(--column-width)),1fr);

}
@media screen and (min-width: 768px) {
  .featured-collection-slider.is-initialized:not(.is-active) .splide__list{
    grid-template-columns: repeat(var(--column-product), minmax(0, 1fr));
    gap: var(--column-gap);
  }
  .no-js .featured-collection-slider:not(.is-initialized) .splide__list{ 
    --column-width: calc((100% - ((var(--column-product) - 1) * var(--column-gap))) / var(--column-product));
    gap: var(--column-gap);
    grid-template-columns: repeat(auto-fill,minmax(var(--column-width)),1fr);
    grid-auto-columns: minmax(var(--column-width),1fr);
  }
}
@media screen and (max-width: 768px) {
  .or-product-list-blocks .block{
    margin-right: calc(var(--fluid-offset, 24px) * -1/2);
  }
}