.promo-productlist{
  min-height: 200px;
  grid-column: var(--column-span, span 2);
  display: grid;
}
@media (max-width: 1023px) {
  .grid-cols-1 .promo-productlist{
    --column-span:span 1 !important;
  }
  .grid-cols-2 .promo-productlist{
    --column-span:span 2 !important;
  }
}
.promo-grid__content-customize{
  padding-top: var(--aspect-ratio-customize,100%);
}
.view-mode__button, .view-mode__button-mobile{
  position: relative;
  opacity: 0.4;
}
.view-mode__button::before,.view-mode__button-mobile::before{
  content: '';
  width: 30%;
  height: 1px;
  background-color: rgb(var(--color-foreground));
  display: block;
  position: absolute;
  left:35%;
  bottom:-2px;
  opacity: 0;
}
.view-mode__button.active::before, .view-mode__button:hover::before,.view-mode__button.active,.view-mode__button:hover, .view-mode__button-mobile.active::before, .view-mode__button-mobile:hover::before,.view-mode__button-mobile.active,.view-mode__button-mobile:hover{
  opacity: 1;
}

.promo-grid__info-inner > * {
  margin:1rem 0;
}
.promo-grid__info-inner > *:first-child {
  margin-block-start: 0;
}
.promo-grid__info-inner > *:last-child {
  margin-block-end: 0;
}
.promo-grid__info-inner > .promo-grid__info--text + .btn{
  margin-top: 2rem;
}
.promo-grid__info-inner > .promo-grid__info--text + .btn.btn-underlined{
  margin-top: 1rem;
}
.promo-grid__info-inner > .promo-grid__info--heading + .btn{
  margin-top: 1.5rem;
}
.promo-grid__info-inner > .promo-grid__info--heading + .btn.btn-underlined{
  margin-top: 0;
}
.promo-grid__content .defer-image img, .promo-grid__content video, .promo-grid__content .video-placeholder{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}