upsell-add-on .variant-select-wrapper .select__select{
  height:auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left:12px;
}
upsell-add-on .option-item:not(:last-child) .option-text{
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(var(--color-border));
}
upsell-add-on .option-image {
  flex-basis: 64px;
  width: 64px;
}
.option-label{
  cursor:pointer;
}
.upsell-add-on-heading{
  background-color: rgb(var(--color-background));
  padding:0 8px;
  margin-top:-3rem;
  position:relative;
  z-index:1;
  margin-left:-8px;
}
.product__upsell-add-on{
border-radius: var(--media-radius);
}
.option-checkbox-checkbox{
  top: 4px;
  position: relative;
}

